// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// size

$s-size: 1rem;
$m-size: 1.4rem;
$l-size: 1.6rem;
$xl-size: 2rem;
