.header {
    width: 100vw;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
    background: $myLightBlue;

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: $l-size;
    }

    .home-nav {
        font-weight: bold;
    }

    .header__nav {
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
